In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [36]:
df=pd.read_csv('Churn_Modelling.csv')

In [58]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [106]:
X=df.drop(['Exited'],axis=1)

In [107]:
y=df['Exited']

In [108]:
X.shape

(10000, 13)

In [109]:
X

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [110]:
geography=pd.get_dummies(X['Geography'],drop_first=True)

In [111]:
geography

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
...       ...    ...
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

In [112]:
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [113]:
X=pd.concat([X,geography,gender],axis=1)

In [114]:
X

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0,0,1
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,0,0,0
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,0

In [115]:
X.drop(['Geography','Gender'],axis=1,inplace=True)

In [116]:
from sklearn.model_selection import train_test_split

In [117]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=0)

In [118]:
from sklearn.preprocessing import StandardScaler

In [119]:
sc=StandardScaler()

In [120]:
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

ValueError: could not convert string to float: 'Mishin'

In [121]:
X_train.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

C:\Users\LaKgos01\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [122]:
X_test.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [123]:
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [139]:
X_test.shape

(2000, 11)

In [125]:
from keras.models import Sequential
from keras.layers import Dense

In [126]:
from keras.layers import Dropout

In [127]:
classifier=Sequential()

In [128]:
classifier.add(Dense(output_dim=6, init='he_uniform',activation='relu',input_dim=11))

C:\Users\LaKgos01\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=11, units=6, kernel_initializer="he_uniform")`
  """Entry point for launching an IPython kernel.

In [129]:
classifier.add(Dense(output_dim=6,kernel_initializer='he_uniform',activation='relu'))

C:\Users\LaKgos01\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(kernel_initializer="he_uniform", activation="relu", units=6)`
  """Entry point for launching an IPython kernel.

In [130]:
classifier.add(Dense(output_dim=6,kernel_initializer='he_uniform',activation='relu'))

C:\Users\LaKgos01\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(kernel_initializer="he_uniform", activation="relu", units=6)`
  """Entry point for launching an IPython kernel.

In [131]:
classifier.add(Dense(output_dim=1,kernel_initializer='glorot_uniform',activation='sigmoid'))

C:\Users\LaKgos01\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(kernel_initializer="glorot_uniform", activation="sigmoid", units=1)`
  """Entry point for launching an IPython kernel.

In [133]:
classifier.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 6)                 72
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_3 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 7
=================================================================
Total params: 163
Trainable params: 163
Non-trainable params: 0
_________________________________________________________________

In [134]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [135]:
classifier.fit(X_train,y_train,validation_split=0.33,batch_size=10,nb_epoch=100)

C:\Users\LaKgos01\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Train on 5359 samples, validate on 2641 samples
Epoch 1/100
5359/5359 [==============================] - 1s 260us/step - loss: 0.5745 - accuracy: 0.7944 - val_loss: 0.5138 - val_accuracy: 0.7955
Epoch 2/100
5359/5359 [==============================] - 1s 169us/step - loss: 0.4881 - accuracy: 0.7962 - val_loss: 0.4742 - val_accuracy: 0.7955
Epoch 3/100
5359/5359 [==============================] - 1s 162us/step - loss: 0.4589 - accuracy: 0.7962 - val_loss: 0.4635 - val_accuracy: 0.7955
Epoch 4/100
5359/5359 [==============================] - 1s 177us/step - loss: 0.4474 - accuracy: 0.7962 - val_loss: 0.4484 - val_accuracy: 0.7955
Epoch 5/100
5359/5359 [==============================] - 1s 187us/step - loss: 0.4383 - accuracy: 0.7962 - val_loss: 0.4424 - val_accuracy: 0.7952
Epoch 6/100
5359/5359 [==============================] - 1s 165us/step - loss: 0.4322 - accuracy: 0.8031 - val_loss: 0.4385 - val_accuracy: 0.8012
Epoch 7/100
5359/5359 [==============================] - 1s 171us/step - loss: 0.4273 - accuracy: 0.8085 - val_loss: 0.4357 - val_accuracy: 0.8103
Epoch 8/100
5359/5359 [==============================] - 1s 167us/step - loss: 0.4232 - accuracy: 0.8112 - val_loss: 0.4337 - val_accuracy: 0.8114
Epoch 9/100
5359/5359 [==============================] - 1s 168us/step - loss: 0.4191 - accuracy: 0.8164 - val_loss: 0.4299 - val_accuracy: 0.8114
Epoch 10/100
5359/5359 [==============================] - 1s 174us/step - loss: 0.4124 - accuracy: 0.8246 - val_loss: 0.4242 - val_accuracy: 0.8156
Epoch 11/100
5359/5359 [==============================] - 1s 189us/step - loss: 0.4033 - accuracy: 0.8332 - val_loss: 0.4140 - val_accuracy: 0.8236
Epoch 12/100
5359/5359 [==============================] - 1s 162us/step - loss: 0.3907 - accuracy: 0.8393 - val_loss: 0.4019 - val_accuracy: 0.8232
Epoch 13/100
5359/5359 [==============================] - 1s 170us/step - loss: 0.3786 - accuracy: 0.8425 - val_loss: 0.3900 - val_accuracy: 0.8338
Epoch 14/100
5359/5359 [==============================] - 1s 169us/step - loss: 0.3694 - accuracy: 0.8466 - val_loss: 0.3826 - val_accuracy: 0.8376
Epoch 15/100
5359/5359 [==============================] - 1s 160us/step - loss: 0.3623 - accuracy: 0.8496 - val_loss: 0.3758 - val_accuracy: 0.8406
Epoch 16/100
5359/5359 [==============================] - 1s 169us/step - loss: 0.3573 - accuracy: 0.8530 - val_loss: 0.3732 - val_accuracy: 0.8451
Epoch 17/100
5359/5359 [==============================] - 1s 167us/step - loss: 0.3541 - accuracy: 0.8565 - val_loss: 0.3699 - val_accuracy: 0.8436
Epoch 18/100
5359/5359 [==============================] - 1s 173us/step - loss: 0.3508 - accuracy: 0.8565 - val_loss: 0.3683 - val_accuracy: 0.8425
Epoch 19/100
5359/5359 [==============================] - 1s 168us/step - loss: 0.3485 - accuracy: 0.8574 - val_loss: 0.3678 - val_accuracy: 0.8432
Epoch 20/100
5359/5359 [==============================] - 1s 165us/step - loss: 0.3457 - accuracy: 0.8582 - val_loss: 0.3649 - val_accuracy: 0.8448
Epoch 21/100
5359/5359 [==============================] - 1s 172us/step - loss: 0.3441 - accuracy: 0.8593 - val_loss: 0.3634 - val_accuracy: 0.8459
Epoch 22/100
5359/5359 [==============================] - 1s 178us/step - loss: 0.3426 - accuracy: 0.8571 - val_loss: 0.3606 - val_accuracy: 0.8482
Epoch 23/100
5359/5359 [==============================] - 1s 175us/step - loss: 0.3408 - accuracy: 0.8597 - val_loss: 0.3614 - val_accuracy: 0.8436
Epoch 24/100
5359/5359 [==============================] - 1s 192us/step - loss: 0.3390 - accuracy: 0.8615 - val_loss: 0.3608 - val_accuracy: 0.8478
Epoch 25/100
5359/5359 [==============================] - 1s 228us/step - loss: 0.3378 - accuracy: 0.8604 - val_loss: 0.3589 - val_accuracy: 0.8508
Epoch 26/100
5359/5359 [==============================] - 1s 238us/step - loss: 0.3363 - accuracy: 0.8638 - val_loss: 0.3586 - val_accuracy: 0.8489
Epoch 27/100
5359/5359 [==============================] - 1s 186us/step - loss: 0.3353 - accuracy: 0.8640 - val_loss: 0.3620 - val_accuracy: 0.8497
Epoch 28/100
5359/5359 [==============================] - 1s 178us/step - loss: 0.3330 - accuracy: 0.8649 - val_loss: 0.3598 - val_accuracy: 0.8523
Epoch 29/100
5359/5359 [==============================] - 1s 166us/step - loss: 0.3325 - accuracy: 0.8638 - val_loss: 0.3584 - val_accuracy: 0.8508
Epoch 30/100
5359/5359 [==============================] - 1s 170us/step - loss: 0.3320 - accuracy: 0.8634 - val_loss: 0.3589 - val_accuracy: 0.8527
Epoch 31/100
5359/5359 [==============================] - 1s 178us/step - loss: 0.3304 - accuracy: 0.8628 - val_loss: 0.3585 - val_accuracy: 0.8508
Epoch 32/100
5359/5359 [==============================] - 1s 165us/step - loss: 0.3305 - accuracy: 0.8649 - val_loss: 0.3597 - val_accuracy: 0.8535
Epoch 33/100
5359/5359 [==============================] - 1s 260us/step - loss: 0.3295 - accuracy: 0.8640 - val_loss: 0.3606 - val_accuracy: 0.8542
Epoch 34/100
5359/5359 [==============================] - 1s 191us/step - loss: 0.3287 - accuracy: 0.8655 - val_loss: 0.3595 - val_accuracy: 0.8561
Epoch 35/100
5359/5359 [==============================] - 1s 191us/step - loss: 0.3284 - accuracy: 0.8640 - val_loss: 0.3629 - val_accuracy: 0.8512
Epoch 36/100
5359/5359 [==============================] - 1s 211us/step - loss: 0.3296 - accuracy: 0.8643 - val_loss: 0.3610 - val_accuracy: 0.8557
Epoch 37/100
5359/5359 [==============================] - 1s 155us/step - loss: 0.3278 - accuracy: 0.8630 - val_loss: 0.3575 - val_accuracy: 0.8508
Epoch 38/100
5359/5359 [==============================] - 1s 184us/step - loss: 0.3275 - accuracy: 0.8658 - val_loss: 0.3569 - val_accuracy: 0.8546
Epoch 39/100
5359/5359 [==============================] - 1s 178us/step - loss: 0.3275 - accuracy: 0.8647 - val_loss: 0.3575 - val_accuracy: 0.8546
Epoch 40/100
5359/5359 [==============================] - 1s 244us/step - loss: 0.3267 - accuracy: 0.8690 - val_loss: 0.3563 - val_accuracy: 0.8523
Epoch 41/100
5359/5359 [==============================] - 2s 301us/step - loss: 0.3260 - accuracy: 0.8658 - val_loss: 0.3622 - val_accuracy: 0.8523
Epoch 42/100
5359/5359 [==============================] - 1s 213us/step - loss: 0.3264 - accuracy: 0.8651 - val_loss: 0.3565 - val_accuracy: 0.8535
Epoch 43/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.3258 - accuracy: 0.8673 - val_loss: 0.3579 - val_accuracy: 0.8554
Epoch 44/100
5359/5359 [==============================] - 1s 201us/step - loss: 0.3258 - accuracy: 0.8671 - val_loss: 0.3581 - val_accuracy: 0.8561
Epoch 45/100
5359/5359 [==============================] - 1s 186us/step - loss: 0.3252 - accuracy: 0.8671 - val_loss: 0.3625 - val_accuracy: 0.8519
Epoch 46/100
5359/5359 [==============================] - 1s 202us/step - loss: 0.3257 - accuracy: 0.8656 - val_loss: 0.3573 - val_accuracy: 0.8565
Epoch 47/100
5359/5359 [==============================] - 1s 194us/step - loss: 0.3247 - accuracy: 0.8662 - val_loss: 0.3570 - val_accuracy: 0.8516
Epoch 48/100
5359/5359 [==============================] - 1s 189us/step - loss: 0.3244 - accuracy: 0.8636 - val_loss: 0.3567 - val_accuracy: 0.8561
Epoch 49/100
5359/5359 [==============================] - 1s 203us/step - loss: 0.3241 - accuracy: 0.8675 - val_loss: 0.3605 - val_accuracy: 0.8554
Epoch 50/100
5359/5359 [==============================] - 1s 195us/step - loss: 0.3242 - accuracy: 0.8675 - val_loss: 0.3579 - val_accuracy: 0.8519
Epoch 51/100
5359/5359 [==============================] - 1s 200us/step - loss: 0.3239 - accuracy: 0.8655 - val_loss: 0.3578 - val_accuracy: 0.8588
Epoch 52/100
5359/5359 [==============================] - 1s 192us/step - loss: 0.3246 - accuracy: 0.8658 - val_loss: 0.3579 - val_accuracy: 0.8554
Epoch 53/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.3229 - accuracy: 0.8666 - val_loss: 0.3572 - val_accuracy: 0.8588
Epoch 54/100
5359/5359 [==============================] - 1s 201us/step - loss: 0.3229 - accuracy: 0.8670 - val_loss: 0.3600 - val_accuracy: 0.8569
Epoch 55/100
5359/5359 [==============================] - 1s 187us/step - loss: 0.3238 - accuracy: 0.8668 - val_loss: 0.3585 - val_accuracy: 0.8538
Epoch 56/100

5359/5359 [==============================] - 1s 205us/step - loss: 0.3240 - accuracy: 0.8681 - val_loss: 0.3576 - val_accuracy: 0.8569
Epoch 57/100
5359/5359 [==============================] - 1s 178us/step - loss: 0.3230 - accuracy: 0.8664 - val_loss: 0.3656 - val_accuracy: 0.8523
Epoch 58/100
5359/5359 [==============================] - 1s 163us/step - loss: 0.3225 - accuracy: 0.8690 - val_loss: 0.3591 - val_accuracy: 0.8546
Epoch 59/100
5359/5359 [==============================] - 1s 178us/step - loss: 0.3229 - accuracy: 0.8647 - val_loss: 0.3583 - val_accuracy: 0.8580
Epoch 60/100
5359/5359 [==============================] - 1s 178us/step - loss: 0.3226 - accuracy: 0.8664 - val_loss: 0.3579 - val_accuracy: 0.8569
Epoch 61/100
5359/5359 [==============================] - 1s 169us/step - loss: 0.3233 - accuracy: 0.8666 - val_loss: 0.3605 - val_accuracy: 0.8561
Epoch 62/100
5359/5359 [==============================] - 1s 173us/step - loss: 0.3228 - accuracy: 0.8679 - val_loss: 0.3590 - val_accuracy: 0.8573
Epoch 63/100
5359/5359 [==============================] - 1s 174us/step - loss: 0.3221 - accuracy: 0.8694 - val_loss: 0.3624 - val_accuracy: 0.8554
Epoch 64/100
5359/5359 [==============================] - 1s 204us/step - loss: 0.3221 - accuracy: 0.8690 - val_loss: 0.3584 - val_accuracy: 0.8588
Epoch 65/100
5359/5359 [==============================] - 1s 177us/step - loss: 0.3222 - accuracy: 0.8671 - val_loss: 0.3594 - val_accuracy: 0.8573
Epoch 66/100
5359/5359 [==============================] - 1s 174us/step - loss: 0.3216 - accuracy: 0.8698 - val_loss: 0.3575 - val_accuracy: 0.8538
Epoch 67/100
5359/5359 [==============================] - 1s 177us/step - loss: 0.3220 - accuracy: 0.8670 - val_loss: 0.3569 - val_accuracy: 0.8561
Epoch 68/100
5359/5359 [==============================] - 1s 173us/step - loss: 0.3224 - accuracy: 0.8647 - val_loss: 0.3579 - val_accuracy: 0.8535
Epoch 69/100
5359/5359 [==============================] - ETA: 0s - loss: 0.3195 - accuracy: 0.86 - 1s 168us/step - loss: 0.3216 - accuracy: 0.8658 - val_loss: 0.3613 - val_accuracy: 0.8565
Epoch 70/100
5359/5359 [==============================] - 1s 182us/step - loss: 0.3224 - accuracy: 0.8675 - val_loss: 0.3577 - val_accuracy: 0.8565
Epoch 71/100
5359/5359 [==============================] - 1s 172us/step - loss: 0.3209 - accuracy: 0.8675 - val_loss: 0.3596 - val_accuracy: 0.8573
Epoch 72/100
5359/5359 [==============================] - 1s 167us/step - loss: 0.3218 - accuracy: 0.8658 - val_loss: 0.3568 - val_accuracy: 0.8591
Epoch 73/100
5359/5359 [==============================] - 1s 207us/step - loss: 0.3218 - accuracy: 0.8666 - val_loss: 0.3572 - val_accuracy: 0.8554
Epoch 74/100
5359/5359 [==============================] - 1s 244us/step - loss: 0.3215 - accuracy: 0.8684 - val_loss: 0.3631 - val_accuracy: 0.8546
Epoch 75/100
5359/5359 [==============================] - 1s 225us/step - loss: 0.3210 - accuracy: 0.8679 - val_loss: 0.3573 - val_accuracy: 0.8584
Epoch 76/100
5359/5359 [==============================] - 1s 230us/step - loss: 0.3211 - accuracy: 0.8670 - val_loss: 0.3586 - val_accuracy: 0.8561
Epoch 77/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.3209 - accuracy: 0.8668 - val_loss: 0.3592 - val_accuracy: 0.8561
Epoch 78/100
5359/5359 [==============================] - 1s 191us/step - loss: 0.3221 - accuracy: 0.8675 - val_loss: 0.3576 - val_accuracy: 0.8561
Epoch 79/100
5359/5359 [==============================] - 1s 238us/step - loss: 0.3206 - accuracy: 0.8681 - val_loss: 0.3571 - val_accuracy: 0.8576
Epoch 80/100
5359/5359 [==============================] - 1s 238us/step - loss: 0.3211 - accuracy: 0.8675 - val_loss: 0.3578 - val_accuracy: 0.8580
Epoch 81/100
5359/5359 [==============================] - 1s 248us/step - loss: 0.3211 - accuracy: 0.8675 - val_loss: 0.3570 - val_accuracy: 0.8569
Epoch 82/100
5359/5359 [==============================] - 1s 200us/step - loss: 0.3207 - accuracy: 0.8638 - val_loss: 0.3559 - val_accuracy: 0.8580
Epoch 83/100
5359/5359 [==============================] - 1s 191us/step - loss: 0.3204 - accuracy: 0.8649 - val_loss: 0.3562 - val_accuracy: 0.8603
Epoch 84/100
5359/5359 [==============================] - 1s 191us/step - loss: 0.3201 - accuracy: 0.8656 - val_loss: 0.3580 - val_accuracy: 0.8595
Epoch 85/100
5359/5359 [==============================] - 1s 266us/step - loss: 0.3205 - accuracy: 0.8684 - val_loss: 0.3569 - val_accuracy: 0.8588
Epoch 86/100
5359/5359 [==============================] - 1s 261us/step - loss: 0.3205 - accuracy: 0.8677 - val_loss: 0.3599 - val_accuracy: 0.8550
Epoch 87/100
5359/5359 [==============================] - 1s 278us/step - loss: 0.3206 - accuracy: 0.8668 - val_loss: 0.3566 - val_accuracy: 0.8588
Epoch 88/100
5359/5359 [==============================] - 1s 243us/step - loss: 0.3195 - accuracy: 0.8662 - val_loss: 0.3576 - val_accuracy: 0.8569
Epoch 89/100
5359/5359 [==============================] - 1s 243us/step - loss: 0.3202 - accuracy: 0.8668 - val_loss: 0.3561 - val_accuracy: 0.8580
Epoch 90/100
5359/5359 [==============================] - 1s 241us/step - loss: 0.3201 - accuracy: 0.8660 - val_loss: 0.3603 - val_accuracy: 0.8561
Epoch 91/100
5359/5359 [==============================] - 1s 245us/step - loss: 0.3194 - accuracy: 0.8670 - val_loss: 0.3557 - val_accuracy: 0.8595
Epoch 92/100
5359/5359 [==============================] - 1s 240us/step - loss: 0.3203 - accuracy: 0.8645 - val_loss: 0.3566 - val_accuracy: 0.8603
Epoch 93/100
5359/5359 [==============================] - 1s 201us/step - loss: 0.3197 - accuracy: 0.8684 - val_loss: 0.3554 - val_accuracy: 0.8588
Epoch 94/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.3200 - accuracy: 0.8649 - val_loss: 0.3549 - val_accuracy: 0.8573
Epoch 95/100
5359/5359 [==============================] - 1s 200us/step - loss: 0.3199 - accuracy: 0.8645 - val_loss: 0.3548 - val_accuracy: 0.8573
Epoch 96/100
5359/5359 [==============================] - 1s 192us/step - loss: 0.3199 - accuracy: 0.8660 - val_loss: 0.3548 - val_accuracy: 0.8561
Epoch 97/100
5359/5359 [==============================] - 1s 188us/step - loss: 0.3194 - accuracy: 0.8656 - val_loss: 0.3582 - val_accuracy: 0.8573
Epoch 98/100
5359/5359 [==============================] - 1s 197us/step - loss: 0.3198 - accuracy: 0.8688 - val_loss: 0.3565 - val_accuracy: 0.8580
Epoch 99/100
5359/5359 [==============================] - 1s 190us/step - loss: 0.3194 - accuracy: 0.8653 - val_loss: 0.3558 - val_accuracy: 0.8607
Epoch 100/100
5359/5359 [==============================] - 1s 250us/step - loss: 0.3195 - accuracy: 0.8671 - val_loss: 0.3559 - val_accuracy: 0.8603

In [143]:
y_pred=classifier.predict(X_test)

In [144]:
y_pred

array([[0.35241413],
       [0.2984864 ],
       [0.09964678],
       ...,
       [0.18233328],
       [0.1819996 ],
       [0.2207542 ]], dtype=float32)

In [145]:
y_pred=(y_pred>0.5)

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [147]:
y_test

9394    0
898     1
2398    0
5906    0
2343    0
       ..
1037    0
2899    0
9549    0
2740    0
6690    0
Name: Exited, Length: 2000, dtype: int64

In [148]:
from sklearn.metrics import confusion_matrix

In [150]:
cm=confusion_matrix(y_test,y_pred)

In [154]:
import seaborn as sns
cm

array([[1508,   87],
       [ 190,  215]], dtype=int64)

In [155]:
from sklearn.metrics import accuracy_score

In [156]:
score=accuracy_score(y_pred,y_test)

In [157]:
score

0.8615

In [159]:
#HyperParameter Optimization

In [172]:
from sklearn.model_selection import GridSearchCV
from keras.layers import Activation

In [161]:
from keras.activations import relu,sigmoid

In [167]:
from keras.wrappers.scikit_learn import KerasClassifier

In [222]:
def Create_model(layers,activation):
    model=Sequential()
    for i, nodes in enumerate(layers):
        if i==0:
            model.add(Dense(nodes,input_dim=X_train.shape[1]))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
        else:
            model.add(Dense(nodes))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
    model.add(Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid'))
    model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])        
    return model

In [223]:
model=KerasClassifier(build_fn=Create_model,verbose=0)

In [224]:
layers=[(10),(20,30),(45,30,15)]
activations=['sigmoid','relu']
param_grid=dict(layers=layers,activation=activations,batch_size=[10,20],epochs=[30,40])
grid=GridSearchCV(estimator=model,param_grid=param_grid,cv=5)

In [225]:
grid_result=grid.fit(X_train,y_train)

C:\Users\LaKgos01\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
TypeError: add() got an unexpected keyword argument 'Dropout'

  FitFailedWarning)

TypeError: 'int' object is not iterable

In [204]:
for i,nodes in enumerate(layers):
    print(i,nodes)

0 10
1 (20, 30)
2 (45, 30, 15)

In [197]:
def create_model(layers, activation):
    model = Sequential()
    for i, nodes in enumerate(layers):
        if i==0:
            model.add(Dense(nodes,input_dim=X_train.shape[1]))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
        else:
            model.add(Dense(nodes))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
            
    model.add(Dense(units = 1, kernel_initializer= 'glorot_uniform', activation = 'sigmoid')) # Note: no activation beyond this point
    
    model.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])
    return model

In [208]:
import pickle

In [213]:
file=open('classifier_ANN.pkl','wb')
pickle.dump(model,file)